.restaurantDetails {
    width: 80%;
}

.restaurantDetails p {
    margin-top: 10px;
}

.neighborhood {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.restaurantName {
    font-weight: bold;
    font-size: 1.7em;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .restaurantDetails p {
        margin-top: 10px;
    }
}