.restaurantsGrid {
    width: 70vw;
    margin: 100px auto 150px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.restaurantsHeader {
    margin-top: 100px;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

@media (max-width: 767px) {
    .restaurantsHeader {
        font-size: 2em;
    }
}