.restaurantInfo {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.restaurantTrivia {
    margin-right: 150px;
}

.reviewsHeader {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin-top: 100px;
}

.noReviews {
    text-align: center;
    font-size: 1.5em;
    margin: 50px 0 100px;
}

@media (max-width: 767px) {
    .restaurantInfo {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }

    .reviewsHeader {
        font-size: 32px;
    }

    .noReviews {
        font-size: 14px;
    }

    .restaurantTrivia {
        margin-right: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}