.avatar {
    position: relative;
}

.fileInputLabel {
    margin-top: 60px;
    background-color: black;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    border-radius: 40px;
    width: 704px;
    height: 85px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.fileInput {
    opacity: 0;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media (max-width: 767px) {
    .fileInputLabel {
        max-width: 324px;
        font-size: 1.5em;
        margin-top: 30px;
        height: 65px;
    }
}