.footer {
    background-color: #ebe3cd;
}

.footerList {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.logo {
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.2);
}

@media (max-width: 767px) {
    .logo {
        width: 25px;
    }
}